<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{block "title" .}}{{end}}" />
  <meta property="og:description" content="{{block "description" .}}{{end}}" />
  <title>{{block "title" .}}{{end}}</title>
  <script>{{.Js}}</script>
  <style>{{.Css}}</style>
</head>

<body class="p-1 flex flex-column flex-align-center">
  <header class="b3-header z-index-1 flex flex-wrap">
    <div class="b3-header__home border border-plain shadow p-smaller">
      <a href="{{.Config.HomeLink}}">home</a>
    </div>
    <div class="b3-header__links flex-grow flex flex-wrap flex-justify-between border border-plain shadow p-smaller">
      {{range .Config.HeaderLinks}}
        <a href="{{.Url}}">{{.Name}}</a>
      {{end}}
    </div>
    <button id="theme-toggle" class="b3-theme-toggle border border-plain shadow p-smaller">jedi</button>
  </header>
  <div class="b3-main">
    {{block "body" .PageData}}{{end}}
  </div>
</body>

</html>
